assets/pug/index.pug
html
  head
    meta(name="viewport" content="width=device-width")
    title 乾杯スロット
  body
    div#app
      div#wrapper(v-if="ready")
        audio#drum(src="./sound/roll.mp3" loop)
        audio#cymbal(src="./sound/cymbal.mp3")          
        div#slot
          ul#user
            li(v-cloak) {{ selectedUser }}      
          
          span さんが
              
          ul#lang
            li(v-cloak) {{ selectedLang }}   
                    
        p#kanpai 乾杯
          
        div#start
          p
            button(v-if="!slot" v-on:click="slotStart") スタート 
            button(v-if="slot" v-on:click="slotStop") ストップ   
            
        div#done(v-if="done")
          p 
            span {{selectedUser}}さん！{{selectedLang}}
            | 乾杯をお願いします！
            

public/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>乾杯スロット</title>
  <link href="./css/app.css" rel="stylesheet"></head>
  <body>
    <div id="app">
      <div id="wrapper" v-if="ready">
        <audio id="drum" src="./sound/roll.mp3" loop></audio>
        <audio id="cymbal" src="./sound/cymbal.mp3">         </audio>
        <div id="slot">
          <ul id="user">
            <li v-cloak>{{ selectedUser }}      </li>
          </ul><span>さんが</span>
          <ul id="lang">
            <li v-cloak>{{ selectedLang }}   </li>
          </ul>
        </div>
        <p id="kanpai">乾杯</p>
        <div id="start">
          <p>
            <button v-if="!slot" v-on:click="slotStart">スタート </button>
            <button v-if="slot" v-on:click="slotStop">ストップ   </button>
          </p>
        </div>
        <div id="done" v-if="done">
          <p> <span>{{selectedUser}}さん！{{selectedLang}}</span>乾杯をお願いします！</p>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="app.js"></script></body>
</html>
